## **Data Science Bootcamp, Spring '25**

<br>

---

### Assignment 1 : **Introduction to Python**
#### Student: **Samrudhi Baldota**
#### NetID: **sb10212**

---
---

###  1. Display Fibonacci Series up to 10 terms

In [2]:
def fibonacci(n):
    a, b = 0, 1
    for _ in range(n):
        print(a, end=" ")
        a, b = b, a + b

fibonacci(10)

0 1 1 2 3 5 8 13 21 34

### 2. Display numbers at the odd indices of a list

In [3]:
def odd_indices(lst):
    return [lst[i] for i in range(1, len(lst), 2)]

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(odd_indices(my_list))

[2, 4, 6, 8]

### 3. Count the number of different words in a given string

In [5]:
string = """
I have provided this text to provide tips on creating interesting paragraphs.

First, start with a clear topic sentence that introduces the main idea.

Then, support the topic sentence with specific details, examples, and evidence.

Vary the sentence length and structure to keep the reader engaged.

Finally, end with a strong concluding sentence that summarizes the main points.

Remember, practice makes perfect!
"""
def count_unique_words(text):
    words = text.split()
    unique_words = set(words)
    return len(unique_words)

print(count_unique_words(string))

47

### 4. Write a function count_vowels(word) that takes a word as an argument and returns the number of vowels in the word

In [6]:
def count_vowels(word):
    vowels = 'aeiouAEIOU'
    return sum(1 for char in word if char in vowels)

word = "example"
print(count_vowels(word))

3

### 5. Iterate through the list of animals and print each one in all caps

In [7]:
animals = ['tiger', 'elephant', 'monkey', 'zebra', 'panther']

for animal in animals:
    print(animal.upper())

TIGER
ELEPHANT
MONKEY
ZEBRA
PANTHER

### 6. Write a program that iterates from 1 to 20, printing each number and whether it's odd or even

In [8]:
for num in range(1, 21):
    if num % 2 == 0:
        print(f"{num} is even")
    else:
        print(f"{num} is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even

### 7. Write a function sum_of_integers(a, b) that takes two integers as input from the user and returns their sum

In [9]:
def sum_of_integers(a, b):
    return a + b

a = int(input("Enter first integer: "))
b = int(input("Enter second integer: "))

print(f"The sum is: {sum_of_integers(a, b)}")

Enter first integer: 2
Enter second integer: 3
The sum is: 5

### Additional Challenge - Books data challenge

In [10]:
books = [
    {
        "title": "The Great Gatsby",
        "author": "F. Scott Fitzgerald",
        "genre": "Fiction",
        "rating": 4.2
    },
    {
        "title": "To Kill a Mockingbird",
        "author": "Harper Lee",
        "genre": "Classic",
        "rating": 4.5
    },
    {
        "title": "1984",
        "author": "George Orwell",
        "genre": "Dystopian",
        "rating": 4.8
    },
    {
        "title": "Pride and Prejudice",
        "author": "Jane Austen",
        "genre": "Romance",
        "rating": 4.7
    },
    {
        "title": "Harry Potter and the Sorcerer's Stone",
        "author": "J.K. Rowling",
        "genre": "Fantasy",
        "rating": 4.9
    },
    {
        "title": "The Catcher in the Rye",
        "author": "J.D. Salinger",
        "genre": "Coming-of-age",
        "rating": 4.1
    }
]

<br>

---
### 1. Checking Book Ratings

In [11]:
def check_rating(book):
    rating = book.get("rating")
    if rating > 4.5:
        return 'high'
    elif rating <= 4.0:
        return 'low'
    elif rating > 4.0 and rating <= 4.5:
        return 'medium'

# Test the function with one book
book = {
    "title": "The Great Gatsby",
    "author": "F. Scott Fitzgerald",
    "genre": "Fiction",
    "rating": 4.2
}

print(check_rating(book))  # Output should be 'medium'

medium

### 2. Average Rating by Genre

In [12]:
def average_rating_by_genre(books, genre):
    genre_books = [book for book in books if book["genre"].lower() == genre.lower()]

    if not genre_books:
        return f"No books found in the genre '{genre}'."

    avg_rating = sum(book["rating"] for book in genre_books) / len(genre_books)
    return avg_rating

# Test the function for the 'Fiction' genre
genre = 'Fiction'
print(average_rating_by_genre(books, genre))  # Output should be the average rating for 'Fiction'

4.2

### 3. Books by Author

In [13]:
class AuthorNotFoundError(Exception):
    """Custom exception for author not found."""
    pass

def books_by_author(books, author):
    author_books = [book for book in books if book["author"].lower() == author.lower()]

    if not author_books:
        raise AuthorNotFoundError(f"No books found by author '{author}'.")

    return author_books

# Test the function for 'J.K. Rowling'
author = 'J.K. Rowling'
try:
    books_by_rowling = books_by_author(books, author)
    for book in books_by_rowling:
        print(book["title"])
except AuthorNotFoundError as e:
    print(e)

Harry Potter and the Sorcerer's Stone

In [14]:
class AuthorNotFoundError(Exception):
    """Custom exception for author not found."""
    pass

def books_by_author(books, author):
    author_books = [book for book in books if book["author"].lower() == author.lower()]

    if not author_books:
        raise AuthorNotFoundError(f"No books found by author '{author}'.")

    return author_books

# Trying to find books by 'Stephen King' (who is not in the books list)
author = 'Stephen King'
try:
    books_by_stephen_king = books_by_author(books, author)
    for book in books_by_stephen_king:
        print(book["title"])
except AuthorNotFoundError as e:
    print(e)

No books found by author 'Stephen King'.